/* new window Styling */
      body{
        font-family: Tahoma,sans-serif;
        font-size: 16px;
        background: #cff;
        background: linear-gradient(170deg, #cff,#e2b27a);
        background-attachment: fixed;
      }
      
      table,td,th
      {
        color: rgb(67, 87, 87);
        border: 2px solid rgb(67, 87, 87);
        border-collapse: collapse;
        width: 50%;
        margin: 0 auto;
        margin-top: 10%;
        text-align: center;
      }
      
      td{
        padding: 10px;
        background-color: rgba(255,255,255,0.2);
      }
      th{
        padding: 10px;
        background-color: rgba(255,255,255,0.5);
      }
      a{
        text-decoration: none;
      }
      
      p{
        text-align: center;
      }